.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:gainsboro;
    background-size: cover;
    background-position: center;
  }
  
  .card {
    width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .card-body {
    padding: 20px;
  }
  