.dashboard-container {
    height: 100vh; /* Full height of the viewport */
    
    background-size: cover;
    background-position: center;
  }
  
  .row {
    height: calc(100vh - 80px); /* Adjust height based on header height */
  }
  
  app-sidebar {
    width: 250px; /* Fixed width for sidebar */
  }
  
  .main-content {
    padding: 20px; /* Padding around main content */
    overflow-y: auto; /* Enable vertical scrolling if content overflows */
  }
  .input-group {
    max-width: 100%;
    margin-bottom: 20px;
  }
  
   .content {
    background-color: rgba(255, 255, 255, 0.9); 
    border-radius: 8px; 
    padding: 20px; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); 
  }
  
  h2 {
    margin-top: 0; 
  }
  
  p {
    margin-bottom: 0; 
  }
  .event-card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
  }
  
  .event-card h3 {
    margin-bottom: 10px;
  }
  
  .event-card button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
  } 